*,
*::after,
*::before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    --navy: #2B3A55;
    --peach: #CE7777;
    --vintage: #E8C4C4;
    --grey: #F2E5E5;
}

body {
    position: relative;
    font-family: 'Rubik', sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.container {
    margin: 0 auto;
    max-width: 1440px;
}

.header {
    position: relative;
    padding: 5px 40px;
    background-color: var(--navy);
}

.header-title-container {
    display: flex;
    gap: 10px;
    text-decoration: none;
    color: var(--peach);
}

.header-title-icon {
    width: 50px;
    filter: invert(54%) sepia(29%) saturate(735%) hue-rotate(314deg) brightness(97%) contrast(79%);
}

.header-title-text {
    font-size: 34px;
    font-weight: 700;
}


.main {
    padding: 70px 40px;
    background-color: var(--grey);
    flex: 1;
}

.library-container {
    display: grid;
    gap: 40px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.book-card {
    min-height: 300px;

    padding: 30px;
    display: flex;
    flex-direction: column;

    background-color: var(--vintage);
    border-radius: 15px;
    color: var(--navy);

    transition: 0.2s ease-out all;
}

.book-card:hover {
    transform: scale(1.05);
}

.book-title {
    margin-bottom: 25px;
    font-size: 24px;
    font-weight: 500;
}

.book-author {
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: 400;
}

.book-pages-number {
    margin-bottom: 15px;
    font-size: 18px;
    font-weight: 400;
}

.book-state {
    margin-top: auto;
}


.modal {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
}

.book-form {
    position: relative;
    min-width: 320px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    background-color: var(--grey);
    background-color: var(--vintage);
    padding: 30px;
    border-radius: 15px;
    color: var(--navy);
}

.close-button {
    position: absolute;
    height: 24px;
    top: 18px;
    right: 16px;
    transition: 0.2s ease-out all;
}

.close-button:hover {
    cursor: pointer;
    transform: scale(1.2);
}

.line {
    width: 24px;
    height: 5px;
    background-color: var(--navy);
}

.first-line {
    transform: translateY(8px) rotate(45deg);
}

.second-line {
    transform: translateY(3px) rotate(-45deg);
}

.book-form-title {
    font-weight: 700;
    font-size: 28px;
    margin-bottom: 10px;
}

.book-form-field {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.book-form-label {
    font-weight: 500;
    font-size: 16px;
}

.book-form-input {
    outline: none;
    border-radius: 5px;
    padding: 10px 10px;
    border: 2px solid var(--navy);
    transition: 0.2s ease-out all;
    color: var(--navy);
    font-size: 16px;
    background-color: var(--grey);
}

.book-form-input:focus {
    border-radius: 15px;
}

.book-form-input:focus,
.book-form-input:hover {
    background-color: #dddddd;
}

.book-form-option-label {
    font-weight: 400;
    font-size: 16px;
}

input[type="radio"] {
    transition: 0.2s ease-out all;
}

input[type="radio"]:hover {
    cursor: pointer;
}